#first-background-color {
    background-color: #0F2838;
}

#first-background-color h2{
    color:#66bfbf;
    font-weight: bold;
    font-family: "Sacramento", cursive;
}

#first-background-color h1{
    color:#66bfbf;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}


.heading-color{
    color: #66bfbf;
}

.container2 {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    justify-content: center;
    align-items: center;
    

}

.skills {
    width: 1000px;
    height: 1000px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 200px;
    text-align: center;
    margin-top: 100px;
}

.skills h2 {
    padding-left: 100px;
    color:#66bfbf;
}

.grid2 {
    text-align: justify;
}
.grid2 h4 {
    color:#66bfbf;
    padding-bottom: 20px;
}
.grid4 h4 {
    color:#66bfbf;
    padding-bottom: 20px;
}

.grid4 {
    text-align: justify;
}

.contactme .btn {
    background-color: #11cdd4;
    font-size: 20px;
    color:#ffff;
    border-color: black;
    
    font-family: "Montserrat", sans-serif;
}


.contactme h2 {
    color:#66bfbf;
    font-weight: 400;
    padding-bottom: 10px;
    font-family: "Arial" ;
}

.contactme h4 {
    color:#66bfbf;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Arial" ;
}

.contactme p {
    font-weight: 400;
    padding: 20px;
    text-align: center;
    font-family: "Arial" ;
}


.footer {
    background-color: #11cdd4;
    padding-left: 25px;
    
}

#only {
    padding-right: 75px;
    color:#ffff;
}